language: python

python:
  - "2.7"
  - "3.5"

install:
  - pip install tox-travis
  - pip install coveralls

env:
  global:
  - TRAVIS="True"

script:
  - tox

after_success:
  coveralls

notifications:
  email:
    recipients:
      - marc@helium.com
    on_failure: change
    on_success: never
