interactions:
- request:
    body: !!python/unicode '{"data": {"type": "sensor", "attributes": {"name": "test"}}}'
    headers:
      Content-Type: [!!python/unicode application/json]
    method: POST
    uri: https://api.helium.com/v1/sensor
  response:
    body: {string: !!python/unicode '{"data":{"attributes":{"name":"test"},"relationships":{"device-configuration":{"data":[]},"metadata":{"data":{"id":"f5101810-e7af-426c-8dff-b2e91de652e5","type":"metadata"}},"element":{"data":null},"label":{"data":[]}},"id":"f5101810-e7af-426c-8dff-b2e91de652e5","meta":{"card":null,"mac":null,"created":"2016-12-21T14:10:30.590469Z","last-seen":null,"ports":[],"updated":"2016-12-21T14:10:30.590469Z"},"type":"sensor"}}'}
    headers:
      airship-quip: [never breaks eye contact]
      airship-trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,n16,n11,p11']
      content-type: [application/json;charset=utf8]
      location: [/v1/sensor/f5101810-e7af-426c-8dff-b2e91de652e5]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode application/json]
    method: GET
    uri: https://api.helium.com/v1/sensor/f5101810-e7af-426c-8dff-b2e91de652e5/metadata
  response:
    body: {string: !!python/unicode '{"data":{"attributes":{},"id":"f5101810-e7af-426c-8dff-b2e91de652e5","type":"metadata"}}'}
    headers:
      airship-quip: [sharkfed]
      airship-trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18']
      content-type: [application/json;charset=utf8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"data": {"type": "metadata", "attributes": {"foo": 22},
      "id": "f5101810-e7af-426c-8dff-b2e91de652e5"}}'
    headers:
      Content-Type: [!!python/unicode application/json]
    method: PUT
    uri: https://api.helium.com/v1/sensor/f5101810-e7af-426c-8dff-b2e91de652e5/metadata
  response:
    body: {string: !!python/unicode '{"data":{"attributes":{"foo":22},"id":"f5101810-e7af-426c-8dff-b2e91de652e5","type":"metadata"}}'}
    headers:
      airship-quip: [RB_GC_GUARD]
      airship-trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,n16,o16,o14,p11,o20,o18']
      content-type: [application/json;charset=utf8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode application/json]
    method: GET
    uri: https://api.helium.com/v1/sensor?filter%5Bmetadata%5D=%7B%22foo%22%3A+22%7D
  response:
    body: {string: !!python/unicode '{"data":[{"attributes":{"name":"test"},"relationships":{"device-configuration":{"data":[]},"metadata":{"data":{"id":"f5101810-e7af-426c-8dff-b2e91de652e5","type":"metadata"}},"element":{"data":null},"label":{"data":[]}},"id":"f5101810-e7af-426c-8dff-b2e91de652e5","meta":{"card":null,"mac":null,"created":"2016-12-21T14:10:30.590469Z","last-seen":null,"ports":[],"updated":"2016-12-21T14:10:30.590469Z"},"type":"sensor"}]}'}
    headers:
      airship-quip: [firm pat on the back]
      airship-trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18']
      content-type: [application/json;charset=utf8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode application/json]
    method: DELETE
    uri: https://api.helium.com/v1/sensor/f5101810-e7af-426c-8dff-b2e91de652e5
  response:
    body: {string: !!python/unicode ''}
    headers:
      airship-quip: ['$300,000 worth of cows']
      airship-trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,m20,o20']
    status: {code: 204, message: No Content}
version: 1
