interactions:
- request:
    body: !!python/unicode '{"data": {"type": "sensor", "attributes": {"name": "test"}}}'
    headers:
      Content-Type: [!!python/unicode application/json]
    method: POST
    uri: https://api.helium.com/v1/sensor
  response:
    body: {string: !!python/unicode '{"data":{"attributes":{"name":"test"},"relationships":{"device-configuration":{"data":[]},"metadata":{"data":{"id":"1b6496dd-6e61-49cd-a04e-cfa72762cdfa","type":"metadata"}},"element":{"data":null},"label":{"data":[]}},"id":"1b6496dd-6e61-49cd-a04e-cfa72762cdfa","meta":{"card":null,"mac":null,"created":"2017-01-24T22:17:13.1347Z","last-seen":null,"ports":[],"updated":"2017-01-24T22:17:13.1347Z"},"type":"sensor"}}'}
    headers:
      airship-quip: [blame me if inappropriate]
      airship-trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,n16,n11,p11']
      content-type: [application/json;charset=utf8]
      location: [/v1/sensor/1b6496dd-6e61-49cd-a04e-cfa72762cdfa]
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '{"data": {"type": "label", "attributes": {"name": "temp-label"},
      "relationships": {"sensor": {"data": [{"type": "sensor", "id": "1b6496dd-6e61-49cd-a04e-cfa72762cdfa"}]}}}}'
    headers:
      Content-Type: [!!python/unicode application/json]
    method: POST
    uri: https://api.helium.com/v1/label
  response:
    body: {string: !!python/unicode '{"data":{"attributes":{"name":"temp-label"},"relationships":{"metadata":{"data":{"id":"84371177-a06f-4ae7-91ae-77929e8fb213","type":"metadata"}},"sensor":{"data":[]}},"id":"84371177-a06f-4ae7-91ae-77929e8fb213","meta":{"created":"2017-01-24T22:17:13.193585Z","updated":"2017-01-24T22:17:13.193585Z"},"type":"label"}}'}
    headers:
      airship-quip: [javascript doesn't have integers]
      airship-trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,n16,n11,p11']
      content-type: [application/json;charset=utf8]
      location: [/v1/label/84371177-a06f-4ae7-91ae-77929e8fb213]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode application/json]
    method: GET
    uri: https://api.helium.com/v1/element
  response:
    body: {string: !!python/unicode '{"data":[{"attributes":{"name":"Eric Compound"},"relationships":{"device-configuration":{"data":[{"id":"03e00386-1099-44c2-977a-7220f71638e5","type":"device-configuration"}]},"metadata":{"data":{"id":"69f353f0-7c3d-4e7f-ad81-201f8ff8d810","type":"metadata"}},"sensor":{"data":[]},"label":{"data":[]}},"id":"69f353f0-7c3d-4e7f-ad81-201f8ff8d810","meta":{"connected":true,"mac":"6081f9fffe000e59","created":"2016-12-23T21:55:12.967624Z","sim":null,"last-seen":"2016-12-26T02:43:09.409224Z","updated":"2016-12-23T23:07:29.402377Z"},"type":"element"},{"attributes":{"name":"Andrew
        Home"},"relationships":{"device-configuration":{"data":[]},"metadata":{"data":{"id":"76c35027-9f4f-4eeb-8f6a-548c7caddb53","type":"metadata"}},"sensor":{"data":[]},"label":{"data":[]}},"id":"76c35027-9f4f-4eeb-8f6a-548c7caddb53","meta":{"connected":false,"mac":"6081f9fffe000b76","created":"2016-07-26T21:25:00.635041Z","sim":null,"last-seen":"2017-01-24T1[...]
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode application/json]
    method: GET
    uri: https://api.helium.com/v1/label/84371177-a06f-4ae7-91ae-77929e8fb213/element
  response:
    body: {string: !!python/unicode '{"data":[]}'}
    headers:
      airship-quip: [sharkfed]
      airship-trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18']
      content-type: [application/json;charset=utf8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"data": [{"type": "element", "id": "69f353f0-7c3d-4e7f-ad81-201f8ff8d810"},
      {"type": "element", "id": "76c35027-9f4f-4eeb-8f6a-548c7caddb53"}, {"type":
      "element", "id": "975b986d-f73f-4d3b-bab6-368795d7f136"}, {"type": "element",
      "id": "d89ed12c-c7bb-4205-a48a-9fe59c96c459"}]}'
    headers:
      Content-Type: [!!python/unicode application/json]
    method: PATCH
    uri: https://api.helium.com/v1/label/84371177-a06f-4ae7-91ae-77929e8fb213/relationships/element
  response:
    body: {string: !!python/unicode '{"data":[{"id":"69f353f0-7c3d-4e7f-ad81-201f8ff8d810","type":"element"},{"id":"76c35027-9f4f-4eeb-8f6a-548c7caddb53","type":"element"},{"id":"975b986d-f73f-4d3b-bab6-368795d7f136","type":"element"},{"id":"d89ed12c-c7bb-4205-a48a-9fe59c96c459","type":"element"}]}'}
    headers:
      airship-quip: [RB_GC_GUARD]
      airship-trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,n16,o16,o17,o20,o18']
      content-type: [application/json;charset=utf8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode application/json]
    method: GET
    uri: https://api.helium.com/v1/element/69f353f0-7c3d-4e7f-ad81-201f8ff8d810/label
  response:
    body: {string: !!python/unicode '{"data":[{"attributes":{"name":"temp-label"},"id":"84371177-a06f-4ae7-91ae-77929e8fb213","meta":{"created":"2017-01-24T22:17:13.193585Z","updated":"2017-01-24T22:17:13.193585Z"},"type":"label"}]}'}
    headers:
      airship-quip: ['WARNING: ulimit -n is 1024']
      airship-trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18']
      content-type: [application/json;charset=utf8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode application/json]
    method: DELETE
    uri: https://api.helium.com/v1/label/84371177-a06f-4ae7-91ae-77929e8fb213
  response:
    body: {string: !!python/unicode ''}
    headers:
      airship-quip: [blame me if inappropriate]
      airship-trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,m20,o20']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode application/json]
    method: DELETE
    uri: https://api.helium.com/v1/sensor/1b6496dd-6e61-49cd-a04e-cfa72762cdfa
  response:
    body: {string: !!python/unicode ''}
    headers:
      airship-quip: ['$300,000 worth of cows']
      airship-trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,m20,o20']
    status: {code: 204, message: No Content}
version: 1
