interactions:
- request:
    body: '{"data": {"attributes": {"name": "test"}, "type": "sensor"}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.helium.com/v1/sensor
  response:
    body: {string: '{"data":{"attributes":{"name":"test"},"relationships":{"device-configuration":{"data":[]},"metadata":{"data":{"id":"b76fea8c-22b1-4f3f-92d8-23d6ade8ecdd","type":"metadata"}},"element":{"data":null},"label":{"data":[]}},"id":"b76fea8c-22b1-4f3f-92d8-23d6ade8ecdd","meta":{"card":null,"mac":null,"created":"2016-11-05T00:36:38.853514Z","last-seen":null,"ports":[],"updated":"2016-11-05T00:36:38.853514Z"},"type":"sensor"}}'}
    headers:
      Airship-Quip: [sharkfed]
      Airship-Trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,n16,n11,p11']
      Content-Type: [application/json]
      Location: [/v1/sensor/b76fea8c-22b1-4f3f-92d8-23d6ade8ecdd]
    status: {code: 201, message: Created}
- request:
    body: '{"data": {"attributes": {"value": 22, "port": "foo"}, "type": "data-point"}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.helium.com/v1/sensor/b76fea8c-22b1-4f3f-92d8-23d6ade8ecdd/timeseries
  response:
    body: {string: '{"data":{"attributes":{"value":22,"timestamp":"2016-11-05T00:36:38.910736Z","port":"foo"},"relationships":{"sensor":{"data":{"id":"b76fea8c-22b1-4f3f-92d8-23d6ade8ecdd","type":"sensor"}}},"id":"311782d9-fd9e-439e-8efc-197c29a4db19","meta":{"created":"2016-11-05T00:36:38.92196Z"},"type":"data-point"}}'}
    headers:
      Airship-Quip: [firm pat on the back]
      Airship-Trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,n16,n11,p11']
      Content-Type: [application/json]
      Location: ['/v1/sensor/b76fea8c-22b1-4f3f-92d8-23d6ade8ecdd/timeseries?page%5Bsize%5D=1&page%5Bid%5D=311782d9-fd9e-439e-8efc-197c29a4db19']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.helium.com/v1/sensor/b76fea8c-22b1-4f3f-92d8-23d6ade8ecdd/timeseries?filter%5Bport%5D=foo
  response:
    body: {string: '{"data":[{"attributes":{"value":22,"timestamp":"2016-11-05T00:36:38.910736Z","port":"foo"},"relationships":{"sensor":{"data":{"id":"b76fea8c-22b1-4f3f-92d8-23d6ade8ecdd","type":"sensor"}}},"id":"311782d9-fd9e-439e-8efc-197c29a4db19","meta":{"created":"2016-11-05T00:36:38.92196Z"},"type":"data-point"}],"links":{}}'}
    headers:
      Airship-Quip: ['WARNING: ulimit -n is 1024']
      Airship-Trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18']
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.helium.com/v1/sensor/b76fea8c-22b1-4f3f-92d8-23d6ade8ecdd
  response:
    body: {string: ''}
    headers:
      Airship-Quip: [RB_GC_GUARD]
      Airship-Trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,m20,o20']
    status: {code: 204, message: No Content}
version: 1
