interactions:
- request:
    body: '{"data": {"attributes": {"name": "test"}, "type": "sensor"}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.helium.com/v1/sensor
  response:
    body: {string: '{"data":{"attributes":{"name":"test"},"relationships":{"device-configuration":{"data":[]},"metadata":{"data":{"id":"50461d46-ac30-4ffb-9368-50727d89ab7b","type":"metadata"}},"element":{"data":null},"label":{"data":[]}},"id":"50461d46-ac30-4ffb-9368-50727d89ab7b","meta":{"card":null,"mac":null,"created":"2016-11-04T23:52:58.114948Z","last-seen":null,"ports":[],"updated":"2016-11-04T23:52:58.114948Z"},"type":"sensor"}}'}
    headers:
      Airship-Quip: [blame me if inappropriate]
      Airship-Trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,n16,n11,p11']
      Content-Type: [application/json]
      Location: [/v1/sensor/50461d46-ac30-4ffb-9368-50727d89ab7b]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.helium.com/v1/sensor/50461d46-ac30-4ffb-9368-50727d89ab7b/metadata
  response:
    body: {string: '{"data":{"attributes":{},"id":"50461d46-ac30-4ffb-9368-50727d89ab7b","type":"metadata"}}'}
    headers:
      Airship-Quip: ['WARNING: ulimit -n is 1024']
      Airship-Trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18']
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: '{"data": {"attributes": {"foo": "bar", "baz": {"key": "value"}}, "type":
      "metadata", "id": "50461d46-ac30-4ffb-9368-50727d89ab7b"}}'
    headers:
      Content-Type: [application/json]
    method: PATCH
    uri: https://api.helium.com/v1/sensor/50461d46-ac30-4ffb-9368-50727d89ab7b/metadata
  response:
    body: {string: '{"data":{"attributes":{"foo":"bar","baz":{"key":"value"}},"id":"50461d46-ac30-4ffb-9368-50727d89ab7b","type":"metadata"}}'}
    headers:
      Airship-Quip: [firm pat on the back]
      Airship-Trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,n16,o16,o17,o20,o18']
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.helium.com/v1/sensor/50461d46-ac30-4ffb-9368-50727d89ab7b
  response:
    body: {string: ''}
    headers:
      Airship-Quip: [firm pat on the back]
      Airship-Trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,m20,o20']
    status: {code: 204, message: No Content}
version: 1
