interactions:
- request:
    body: !!python/unicode '{"data": {"attributes": {"available": true, "location":
      "office", "test": 42}, "type": "configuration"}}'
    headers:
      Content-Type: [!!python/unicode application/json]
    method: POST
    uri: https://api.helium.com/v1/configuration
  response:
    body: {string: !!python/unicode '{"data":{"attributes":{"location":"office","test":42,"available":true},"relationships":{"device-configuration":{"data":[]}},"id":"85339352-071a-4f75-8468-3f0f6e6d9c51","meta":{"created":"2016-12-07T22:29:26.879317Z"},"type":"configuration"}}'}
    headers:
      airship-quip: [javascript doesn't have integers]
      airship-trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,n16,n11,p11']
      content-type: [application/json;charset=utf8]
      location: [/v1/configuration/85339352-071a-4f75-8468-3f0f6e6d9c51]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode application/json]
    method: GET
    uri: https://api.helium.com/v1/sensor
  response:
    body: {string: "{\"data\":[{\"attributes\":{\"name\":\"John's Development Isotope
        with a Brick1\"},\"relationships\":{\"device-configuration\":{\"data\":[]},\"metadata\":{\"data\":{\"id\":\"01d53511-228d-4530-8eaf-74d43c17baa8\",\"type\":\"metadata\"}},\"element\":{\"data\":null},\"label\":{\"data\":[{\"id\":\"198d0e28-82e1-4954-a5fc-7b0326a23c6f\",\"type\":\"label\"},{\"id\":\"0c228a65-ea5e-4b0d-a321-61009f3647b7\",\"type\":\"label\"},{\"id\":\"415e6377-2bc1-46c6-a76c-782e5e7c652d\",\"type\":\"label\"},{\"id\":\"bfd8e8ff-e4b7-4561-ac7e-81178b9868d5\",\"type\":\"label\"},{\"id\":\"f17dee16-df80-4b0a-84bb-3d8969747dbe\",\"type\":\"label\"},{\"id\":\"f0008606-e12e-4a67-af95-bff56ba42eb9\",\"type\":\"label\"},{\"id\":\"eca18daf-6d17-4323-8e3d-c4423d164ae5\",\"type\":\"label\"},{\"id\":\"968cc881-737e-4bff-bdd6-2af45992fe86\",\"type\":\"label\"},{\"id\":\"76707cb0-6db6-493f-8203-040f9bc3645b\",\"type\":\"label\"}]}},\"id\":\"01d53511-228d-4530-8eaf-74d43c17baa8\",\"meta\":{\"card\":null,\"mac\":\"6081f9fffe000790\",\"created\":\"2016-03-29T23:41:29.994176Z\",\"last-seen\":\"2016-11-05T23:57:55.973409Z\",\"ports\":[\"b\",\"m\",\"d\",\"p\",\"l\",\"_se\",\"t\",\"_b\",\"h\",\"test\"],\"updated\":\"2016-11-29T14:06:20.899702Z\"},\"type\":\"sensor\"},{\"attributes\":{\"name\":\"Marc's
        isotope \xEAf\"},\"relationships\":{\"device-configuration\":{\"data\":[]},\"metadata\":{\"data\":{\"id\":\"08bab58b-d095-4c7c-912c-1f8024d91d95\",\"type\":\"metadata\"}},\"element\":{\"data\":null},\"label\":{\"data\":[{\"id\":\"5bfe6de7-5e67-4062-830c-b6f9ee2d987d\",\"type\":\"label\"},{\"id\":\"bfd8e8ff-e4b7-4561-ac7e-81178b9868d5\",\"type\":\"label\"},{\"id\":\"eca18daf-6d17-4323-8e3d-c4423d164ae[...]
- request:
    body: !!python/unicode '{"data": {"relationships": {"configuration": {"data":
      {"id": "85339352-071a-4f75-8468-3f0f6e6d9c51", "type": "configuration"}}, "device":
      {"data": {"id": "01d53511-228d-4530-8eaf-74d43c17baa8", "type": "sensor"}}},
      "type": "device-configuration"}}'
    headers:
      Content-Type: [!!python/unicode application/json]
    method: POST
    uri: https://api.helium.com/v1/device-configuration
  response:
    body: {string: !!python/unicode '{"data":{"attributes":{},"relationships":{"device":{"data":{"id":"01d53511-228d-4530-8eaf-74d43c17baa8","type":"sensor"}},"configuration":{"data":{"id":"85339352-071a-4f75-8468-3f0f6e6d9c51","type":"configuration"}}},"id":"05d1fc30-b2ee-4820-ab09-054567029a99","meta":{"loaded":null,"created":"2016-12-07T22:29:27.025949Z"},"type":"device-configuration"}}'}
    headers:
      airship-quip: [evacuation not done in time]
      airship-trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,n16,n11,p11']
      content-type: [application/json;charset=utf8]
      location: [/v1/device-configuration/05d1fc30-b2ee-4820-ab09-054567029a99]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode application/json]
    method: GET
    uri: https://api.helium.com/v1/device-configuration/05d1fc30-b2ee-4820-ab09-054567029a99/configuration
  response:
    body: {string: !!python/unicode '{"data":{"attributes":{"location":"office","test":42,"available":true},"relationships":{"device-configuration":{"data":[{"id":"05d1fc30-b2ee-4820-ab09-054567029a99","type":"device-configuration"}]}},"id":"85339352-071a-4f75-8468-3f0f6e6d9c51","meta":{"created":"2016-12-07T22:29:26.879317Z"},"type":"configuration"}}'}
    headers:
      airship-quip: [never breaks eye contact]
      airship-trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18']
      content-type: [application/json;charset=utf8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode application/json]
    method: GET
    uri: https://api.helium.com/v1/device-configuration/05d1fc30-b2ee-4820-ab09-054567029a99/device
  response:
    body: {string: !!python/unicode '{"data":{"attributes":{"name":"John''s Development
        Isotope with a Brick1"},"id":"01d53511-228d-4530-8eaf-74d43c17baa8","meta":{"card":null,"mac":"6081f9fffe000790","created":"2016-03-29T23:41:29.994176Z","last-seen":"2016-11-05T23:57:55.973409Z","ports":[],"updated":"2016-11-29T14:06:20.899702Z"},"type":"sensor"}}'}
    headers:
      airship-quip: [firm pat on the back]
      airship-trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18']
      content-type: [application/json;charset=utf8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode application/json]
    method: GET
    uri: https://api.helium.com/v1/device-configuration/05d1fc30-b2ee-4820-ab09-054567029a99?include=device%2Cconfiguration
  response:
    body: {string: !!python/unicode '{"data":{"attributes":{},"relationships":{"device":{"data":{"id":"01d53511-228d-4530-8eaf-74d43c17baa8","type":"sensor"}},"configuration":{"data":{"id":"85339352-071a-4f75-8468-3f0f6e6d9c51","type":"configuration"}}},"id":"05d1fc30-b2ee-4820-ab09-054567029a99","meta":{"loaded":null,"created":"2016-12-07T22:29:27.025949Z"},"type":"device-configuration"},"included":[{"attributes":{"name":"John''s
        Development Isotope with a Brick1"},"id":"01d53511-228d-4530-8eaf-74d43c17baa8","meta":{"card":null,"mac":"6081f9fffe000790","created":"2016-03-29T23:41:29.994176Z","last-seen":"2016-11-05T23:57:55.973409Z","ports":[],"updated":"2016-11-29T14:06:20.899702Z"},"type":"sensor"},{"attributes":{"location":"office","test":42,"available":true},"id":"85339352-071a-4f75-8468-3f0f6e6d9c51","meta":{"created":"2016-12-07T22:29:26.879317Z"},"type":"configuration"}]}'}
    headers:
      airship-quip: [RB_GC_GUARD]
      airship-trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18']
      content-type: [application/json;charset=utf8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode application/json]
    method: GET
    uri: https://api.helium.com/v1/sensor/01d53511-228d-4530-8eaf-74d43c17baa8/device-configuration
  response:
    body: {string: !!python/unicode '{"data":[{"attributes":{},"relationships":{"device":{"data":{"id":"01d53511-228d-4530-8eaf-74d43c17baa8","type":"sensor"}},"configuration":{"data":{"id":"85339352-071a-4f75-8468-3f0f6e6d9c51","type":"configuration"}}},"id":"05d1fc30-b2ee-4820-ab09-054567029a99","meta":{"loaded":null,"created":"2016-12-07T22:29:27.025949Z"},"type":"device-configuration"}]}'}
    headers:
      airship-quip: [shut it down]
      airship-trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18']
      content-type: [application/json;charset=utf8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode application/json]
    method: DELETE
    uri: https://api.helium.com/v1/device-configuration/05d1fc30-b2ee-4820-ab09-054567029a99
  response:
    body: {string: !!python/unicode ''}
    headers:
      airship-quip: [evacuation not done in time]
      airship-trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,m20,o20']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode application/json]
    method: DELETE
    uri: https://api.helium.com/v1/configuration/85339352-071a-4f75-8468-3f0f6e6d9c51
  response:
    body: {string: !!python/unicode ''}
    headers:
      airship-quip: [shut it down]
      airship-trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,m20,o20']
    status: {code: 204, message: No Content}
version: 1
