interactions:
- request:
    body: !!python/unicode '{"data": {"type": "sensor", "attributes": {"name": "test"}}}'
    headers:
      Content-Type: [!!python/unicode application/json]
    method: POST
    uri: https://api.helium.com/v1/sensor
  response:
    body: {string: !!python/unicode '{"data":{"attributes":{"name":"test"},"relationships":{"device-configuration":{"data":[]},"metadata":{"data":{"id":"8e90e469-bb40-4685-925c-cd95988ffb9c","type":"metadata"}},"element":{"data":null},"label":{"data":[]}},"id":"8e90e469-bb40-4685-925c-cd95988ffb9c","meta":{"card":null,"mac":null,"created":"2016-11-18T19:43:44.979461Z","last-seen":null,"ports":[],"updated":"2016-11-18T19:43:44.979461Z"},"type":"sensor"}}'}
    headers:
      airship-quip: [shut it down]
      airship-trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,n16,n11,p11']
      content-type: [application/json]
      location: [/v1/sensor/8e90e469-bb40-4685-925c-cd95988ffb9c]
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '{"data": {"type": "label", "relationships": {"sensor":
      {"data": [{"type": "sensor", "id": "8e90e469-bb40-4685-925c-cd95988ffb9c"}]}},
      "attributes": {"name": "temp-label"}}}'
    headers:
      Content-Type: [!!python/unicode application/json]
    method: POST
    uri: https://api.helium.com/v1/label
  response:
    body: {string: !!python/unicode '{"data":{"attributes":{"name":"temp-label"},"relationships":{"metadata":{"data":{"id":"2c275f61-43b5-46f5-9962-4d09c577b6b0","type":"metadata"}},"sensor":{"data":[]}},"id":"2c275f61-43b5-46f5-9962-4d09c577b6b0","meta":{"created":"2016-11-18T19:43:45.036158Z","updated":"2016-11-18T19:43:45.036158Z"},"type":"label"}}'}
    headers:
      airship-quip: ['$300,000 worth of cows']
      airship-trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,n16,n11,p11']
      content-type: [application/json]
      location: [/v1/label/2c275f61-43b5-46f5-9962-4d09c577b6b0]
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '{"data": [{"type": "sensor", "id": "8e90e469-bb40-4685-925c-cd95988ffb9c"}]}'
    headers:
      Content-Type: [!!python/unicode application/json]
    method: PATCH
    uri: https://api.helium.com/v1/label/2c275f61-43b5-46f5-9962-4d09c577b6b0/relationships/sensor
  response:
    body: {string: !!python/unicode '{"data":[{"id":"8e90e469-bb40-4685-925c-cd95988ffb9c","type":"sensor"}]}'}
    headers:
      airship-quip: [evacuation not done in time]
      airship-trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,n16,o16,o17,o20,o18']
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"data": {"type": "label", "id": "2c275f61-43b5-46f5-9962-4d09c577b6b0",
      "attributes": {"name": "bar"}}}'
    headers:
      Content-Type: [!!python/unicode application/json]
    method: PATCH
    uri: https://api.helium.com/v1/label/2c275f61-43b5-46f5-9962-4d09c577b6b0
  response:
    body: {string: !!python/unicode '{"data":{"attributes":{"name":"bar"},"id":"2c275f61-43b5-46f5-9962-4d09c577b6b0","meta":{"created":"2016-11-18T19:43:45.036158Z","updated":"2016-11-18T19:43:45.036158Z"},"type":"label"}}'}
    headers:
      airship-quip: [blame me if inappropriate]
      airship-trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,n16,o16,o17,o20,o18']
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode application/json]
    method: DELETE
    uri: https://api.helium.com/v1/sensor/8e90e469-bb40-4685-925c-cd95988ffb9c
  response:
    body: {string: !!python/unicode ''}
    headers:
      airship-quip: ['$300,000 worth of cows']
      airship-trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,m20,o20']
    status: {code: 204, message: No Content}
version: 1
