interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.helium.com/v1/user
  response:
    body: {string: '{"data":{"attributes":{"name":"Helium Dev Account"},"id":"dev-accounts@helium.co","meta":{"email":"dev-accounts@helium.co","created":"2014-10-29T21:38:52Z","pending_invite":false,"updated":"2016-11-04T23:53:12.065874Z"},"type":"user"}}'}
    headers:
      Airship-Quip: [never breaks eye contact]
      Airship-Trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18']
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
