interactions:
- request:
    body: !!python/unicode '{"data": {"type": "sensor", "attributes": {"name": "test"}}}'
    headers:
      Content-Type: [!!python/unicode application/json]
    method: POST
    uri: https://api.helium.com/v1/sensor
  response:
    body: {string: !!python/unicode '{"data":{"attributes":{"name":"test"},"relationships":{"device-configuration":{"data":[]},"metadata":{"data":{"id":"5ed0aa80-28df-4817-b9a8-964177ea5686","type":"metadata"}},"element":{"data":null},"label":{"data":[]}},"id":"5ed0aa80-28df-4817-b9a8-964177ea5686","meta":{"card":null,"mac":null,"created":"2016-11-18T19:43:45.96066Z","last-seen":null,"ports":[],"updated":"2016-11-18T19:43:45.96066Z"},"type":"sensor"}}'}
    headers:
      airship-quip: [blame me if inappropriate]
      airship-trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,n16,n11,p11']
      content-type: [application/json]
      location: [/v1/sensor/5ed0aa80-28df-4817-b9a8-964177ea5686]
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '{"data": {"type": "label", "relationships": {"sensor":
      {"data": [{"type": "sensor", "id": "5ed0aa80-28df-4817-b9a8-964177ea5686"}]}},
      "attributes": {"name": "temp-label"}}}'
    headers:
      Content-Type: [!!python/unicode application/json]
    method: POST
    uri: https://api.helium.com/v1/label
  response:
    body: {string: !!python/unicode '{"data":{"attributes":{"name":"temp-label"},"relationships":{"metadata":{"data":{"id":"c1ab1783-915d-4516-a706-6e851ae995c0","type":"metadata"}},"sensor":{"data":[]}},"id":"c1ab1783-915d-4516-a706-6e851ae995c0","meta":{"created":"2016-11-18T19:43:46.032047Z","updated":"2016-11-18T19:43:46.032047Z"},"type":"label"}}'}
    headers:
      airship-quip: ['$300,000 worth of cows']
      airship-trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,n16,n11,p11']
      content-type: [application/json]
      location: [/v1/label/c1ab1783-915d-4516-a706-6e851ae995c0]
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '{"data": [{"type": "sensor", "id": "5ed0aa80-28df-4817-b9a8-964177ea5686"}]}'
    headers:
      Content-Type: [!!python/unicode application/json]
    method: PATCH
    uri: https://api.helium.com/v1/label/c1ab1783-915d-4516-a706-6e851ae995c0/relationships/sensor
  response:
    body: {string: !!python/unicode '{"data":[{"id":"5ed0aa80-28df-4817-b9a8-964177ea5686","type":"sensor"}]}'}
    headers:
      airship-quip: ['WARNING: ulimit -n is 1024']
      airship-trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,n16,o16,o17,o20,o18']
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode application/json]
    method: DELETE
    uri: https://api.helium.com/v1/label/c1ab1783-915d-4516-a706-6e851ae995c0
  response:
    body: {string: !!python/unicode ''}
    headers:
      airship-quip: [shut it down]
      airship-trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,m20,o20']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode application/json]
    method: DELETE
    uri: https://api.helium.com/v1/sensor/5ed0aa80-28df-4817-b9a8-964177ea5686
  response:
    body: {string: !!python/unicode ''}
    headers:
      airship-quip: [never breaks eye contact]
      airship-trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,m20,o20']
    status: {code: 204, message: No Content}
version: 1
