interactions:
- request:
    body: '{"data": {"attributes": {"name": "test"}, "type": "sensor"}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.helium.com/v1/sensor
  response:
    body: {string: '{"data":{"attributes":{"name":"test"},"relationships":{"device-configuration":{"data":[]},"metadata":{"data":{"id":"d16b0dd0-d31e-40da-b0b0-b7996d3479f1","type":"metadata"}},"element":{"data":null},"label":{"data":[]}},"id":"d16b0dd0-d31e-40da-b0b0-b7996d3479f1","meta":{"card":null,"mac":null,"created":"2016-11-05T00:36:40.713181Z","last-seen":null,"ports":[],"updated":"2016-11-05T00:36:40.713181Z"},"type":"sensor"}}'}
    headers:
      Airship-Quip: [shut it down]
      Airship-Trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,n16,n11,p11']
      Content-Type: [application/json]
      Location: [/v1/sensor/d16b0dd0-d31e-40da-b0b0-b7996d3479f1]
    status: {code: 201, message: Created}
- request:
    body: '{"data": {"attributes": {"value": 22, "port": "test"}, "type": "data-point"}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.helium.com/v1/sensor/d16b0dd0-d31e-40da-b0b0-b7996d3479f1/timeseries
  response:
    body: {string: '{"data":{"attributes":{"value":22,"timestamp":"2016-11-05T00:36:40.768451Z","port":"test"},"relationships":{"sensor":{"data":{"id":"d16b0dd0-d31e-40da-b0b0-b7996d3479f1","type":"sensor"}}},"id":"991ca0d5-69fd-488d-9044-f51f2e4a005b","meta":{"created":"2016-11-05T00:36:40.783728Z"},"type":"data-point"}}'}
    headers:
      Airship-Quip: ['WARNING: ulimit -n is 1024']
      Airship-Trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,n16,n11,p11']
      Content-Type: [application/json]
      Location: ['/v1/sensor/d16b0dd0-d31e-40da-b0b0-b7996d3479f1/timeseries?page%5Bsize%5D=1&page%5Bid%5D=991ca0d5-69fd-488d-9044-f51f2e4a005b']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.helium.com/v1/sensor/d16b0dd0-d31e-40da-b0b0-b7996d3479f1
  response:
    body: {string: ''}
    headers:
      Airship-Quip: [shut it down]
      Airship-Trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,m20,o20']
    status: {code: 204, message: No Content}
version: 1
