interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.helium.com/v1/sensor
  response:
    body: {string: "{\"data\":[{\"attributes\":{\"name\":\"John's Development Isotope
        with a Brick1\"},\"relationships\":{\"device-configuration\":{\"data\":[]},\"metadata\":{\"data\":{\"id\":\"01d53511-228d-4530-8eaf-74d43c17baa8\",\"type\":\"metadata\"}},\"element\":{\"data\":null},\"label\":{\"data\":[{\"id\":\"eca18daf-6d17-4323-8e3d-c4423d164ae5\",\"type\":\"label\"},{\"id\":\"968cc881-737e-4bff-bdd6-2af45992fe86\",\"type\":\"label\"}]}},\"id\":\"01d53511-228d-4530-8eaf-74d43c17baa8\",\"meta\":{\"card\":{\"id\":2},\"mac\":\"6081f9fffe000790\",\"created\":\"2016-03-29T23:41:29.994176Z\",\"last-seen\":\"2016-11-05T23:57:55.973409Z\",\"ports\":[\"b\",\"m\",\"d\",\"p\",\"l\",\"_se\",\"t\",\"_b\",\"h\",\"test\"],\"updated\":\"2016-11-08T06:26:02.16302Z\"},\"type\":\"sensor\"},{\"attributes\":{\"name\":\"Marc's
        isotope \xEAf\"},\"relationships\":{\"device-configuration\":{\"data\":[]},\"metadata\":{\"data\":{\"id\":\"08bab58b-d095-4c7c-912c-1f8024d91d95\",\"type\":\"metadata\"}},\"element\":{\"data\":null},\"label\":{\"data\":[{\"id\":\"eca18daf-6d17-4323-8e3d-c4423d164ae5\",\"type\":\"label\"},{\"id\":\"bfd8e8ff-e4b7-4561-ac7e-81178b9868d5\",\"type\":\"label\"},{\"id\":\"d85ae875-1d02-4ed1-84f3-c5949bcda1d9[...]
- request:
    body: '{"data": {"id": "01d53511-228d-4530-8eaf-74d43c17baa8", "attributes": {"name":
      "John''s Development Isotope with a Brick1"}, "type": "sensor"}}'
    headers:
      Content-Type: [application/json]
    method: PATCH
    uri: https://api.helium.com/v1/sensor/01d53511-228d-4530-8eaf-74d43c17baa8
  response:
    body: {string: '{"data":{"attributes":{"name":"John''s Development Isotope with
        a Brick1"},"relationships":{"device-configuration":{"data":[]},"metadata":[...]
- request:
    body: '{"data": {"attributes": {"name": "test-label"}, "type": "label"}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.helium.com/v1/label
  response:
    body: {string: '{"data":{"attributes":{"name":"test-label"},"relationships":{"metadata":{"data":{"id":"82ec81a1-bb81-4085-b54e-06cc844b25ea","type":"metadata"}},"sensor":{"data":[]}},"id":"82ec81a1-bb81-4085-b54e-06cc844b25ea","meta":{"created":"2016-11-08T06:27:35.055611Z","updated":"2016-11-08T06:27:35.055611Z"},"type":"label"}}'}
    headers:
      ? !!python/object/new:multidict._multidict.istr [Access-Control-Allow-Headers]
      : Origin, Content-Type, Accept, Authorization
      ? !!python/object/new:multidict._multidict.istr [Access-Control-Allow-Origin]
      : '*'
      ? !!python/object/new:multidict._multidict.istr [Airship-Quip]
      : sharkfed
      ? !!python/object/new:multidict._multidict.istr [Airship-Trace]
      : b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,n16,n11,p11
      ? !!python/object/new:multidict._multidict.istr [Connection]
      : keep-alive
      ? !!python/object/new:multidict._multidict.istr [Content-Encoding]
      : gzip
      ? !!python/object/new:multidict._multidict.istr [Content-Length]
      : '190'
      ? !!python/object/new:multidict._multidict.istr [Content-Type]
      : application/json
      ? !!python/object/new:multidict._multidict.istr [Date]
      : Tue, 08 Nov 2016 06:27:34 GMT
      ? !!python/object/new:multidict._multidict.istr [Location]
      : /v1/label/82ec81a1-bb81-4085-b54e-06cc844b25ea
      ? !!python/object/new:multidict._multidict.istr [Server]
      : Warp/3.2.7
    status: {code: 201, message: Created}
    url: https://api.helium.com/v1/label
- request:
    body: '{"data": [{"id": "01d53511-228d-4530-8eaf-74d43c17baa8", "type": "sensor"}]}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.helium.com/v1/label/82ec81a1-bb81-4085-b54e-06cc844b25ea/relationships/sensor
  response:
    body: {string: '{"data":[{"id":"01d53511-228d-4530-8eaf-74d43c17baa8","type":"sensor"}]}'}
    headers:
      ? !!python/object/new:multidict._multidict.istr [Access-Control-Allow-Headers]
      : Origin, Content-Typ[...]
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.helium.com/v1/label/82ec81a1-bb81-4085-b54e-06cc844b25ea/metadata
  response:
    body: {string: '{"data":{"attributes":{},"id":"82ec81a1-bb81-4085-b54e-06cc844b25ea","type":"metadata"}}'}
    headers:
      ? !!python/object/new:multidict._multidict.istr [Access-Control-Allow-Headers]
      : Origin, Content-Type, Accept, Authorization
      ? !!python/object/new:multidict._multidict.istr [Access-Control-Allow-Origin]
      : '*'
      ? !!python/object/new:multidict._multidict.istr [Airship-Quip]
      : sharkfed
      ? !!python/object/new:multidict._multidict.istr [Airship-Trace]
      : b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18
      ? !!python/object/new:multidict._multidict.istr [Connection]
      : keep-alive
      ? !!python/object/new:multidict._multidict.istr [Content-Encoding]
      : gzip
      ? !!python/object/new:multidict._multidict.istr [Content-Length]
      : '99'
      ? !!python/object/new:multidict._multidict.istr [Content-Type]
      : application/json
      ? !!python/object/new:multidict._multidict.istr [Date]
      : Tue, 08 Nov 2016 06:27:34 GMT
      ? !!python/object/new:multidict._multidict.istr [Server]
      : Warp/3.2.7
    status: {code: 200, message: OK}
    url: https://api.helium.com/v1/label/82ec81a1-bb81-4085-b54e-06cc844b25ea/metadata
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.helium.com/v1/label/82ec81a1-bb81-4085-b54e-06cc844b25ea
  response:
    body: {string: ''}
    headers:
      ? !!python/object/new:multidict._multidict.istr [Access-Control-Allow-Headers]
      : Origin, Content-Type, Accept, Authorization
      ? !!python/object/new:multidict._multidict.istr [Access-Control-Allow-Origin]
      : '*'
      ? !!python/object/new:multidict._multidict.istr [Airship-Quip]
      : never breaks eye contact
      ? !!python/object/new:multidict._multidict.istr [Airship-Trace]
      : b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,m20,o20
      ? !!python/object/new:multidict._multidict.istr [Connection]
      : keep-alive
      ? !!python/object/new:multidict._multidict.istr [Date]
      : Tue, 08 Nov 2016 06:27:34 GMT
      ? !!python/object/new:multidict._multidict.istr [Server]
      : Warp/3.2.7
    status: {code: 204, message: No Content}
    url: https://api.helium.com/v1/label/82ec81a1-bb81-4085-b54e-06cc844b25ea
version: 1
