interactions:
- request:
    body: !!python/unicode '{"data": {"type": "sensor", "attributes": {"name": "test"}}}'
    headers:
      Content-Type: [!!python/unicode application/json]
    method: POST
    uri: https://api.helium.com/v1/sensor
  response:
    body: {string: !!python/unicode '{"data":{"attributes":{"name":"test"},"relationships":{"device-configuration":{"data":[]},"metadata":{"data":{"id":"9d34a482-6cff-4dd3-b694-50ae8e0e88fc","type":"metadata"}},"element":{"data":null},"label":{"data":[]}},"id":"9d34a482-6cff-4dd3-b694-50ae8e0e88fc","meta":{"card":null,"mac":null,"created":"2016-11-18T19:43:45.481381Z","last-seen":null,"ports":[],"updated":"2016-11-18T19:43:45.481381Z"},"type":"sensor"}}'}
    headers:
      airship-quip: [javascript doesn't have integers]
      airship-trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,n16,n11,p11']
      content-type: [application/json]
      location: [/v1/sensor/9d34a482-6cff-4dd3-b694-50ae8e0e88fc]
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '{"data": {"type": "label", "relationships": {"sensor":
      {"data": [{"type": "sensor", "id": "9d34a482-6cff-4dd3-b694-50ae8e0e88fc"}]}},
      "attributes": {"name": "temp-label"}}}'
    headers:
      Content-Type: [!!python/unicode application/json]
    method: POST
    uri: https://api.helium.com/v1/label
  response:
    body: {string: !!python/unicode '{"data":{"attributes":{"name":"temp-label"},"relationships":{"metadata":{"data":{"id":"dac49910-d2c3-4ead-9810-e4c2eac1985f","type":"metadata"}},"sensor":{"data":[]}},"id":"dac49910-d2c3-4ead-9810-e4c2eac1985f","meta":{"created":"2016-11-18T19:43:45.54605Z","updated":"2016-11-18T19:43:45.54605Z"},"type":"label"}}'}
    headers:
      airship-quip: [never breaks eye contact]
      airship-trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,n16,n11,p11']
      content-type: [application/json]
      location: [/v1/label/dac49910-d2c3-4ead-9810-e4c2eac1985f]
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '{"data": [{"type": "sensor", "id": "9d34a482-6cff-4dd3-b694-50ae8e0e88fc"}]}'
    headers:
      Content-Type: [!!python/unicode application/json]
    method: PATCH
    uri: https://api.helium.com/v1/label/dac49910-d2c3-4ead-9810-e4c2eac1985f/relationships/sensor
  response:
    body: {string: !!python/unicode '{"data":[{"id":"9d34a482-6cff-4dd3-b694-50ae8e0e88fc","type":"sensor"}]}'}
    headers:
      airship-quip: [firm pat on the back]
      airship-trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,n16,o16,o17,o20,o18']
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode application/json]
    method: GET
    uri: https://api.helium.com/v1/label/dac49910-d2c3-4ead-9810-e4c2eac1985f/metadata
  response:
    body: {string: !!python/unicode '{"data":{"attributes":{},"id":"dac49910-d2c3-4ead-9810-e4c2eac1985f","type":"metadata"}}'}
    headers:
      airship-quip: [RB_GC_GUARD]
      airship-trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18']
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode application/json]
    method: DELETE
    uri: https://api.helium.com/v1/label/dac49910-d2c3-4ead-9810-e4c2eac1985f
  response:
    body: {string: !!python/unicode ''}
    headers:
      airship-quip: [blame me if inappropriate]
      airship-trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,m20,o20']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode application/json]
    method: DELETE
    uri: https://api.helium.com/v1/sensor/9d34a482-6cff-4dd3-b694-50ae8e0e88fc
  response:
    body: {string: !!python/unicode ''}
    headers:
      airship-quip: [evacuation not done in time]
      airship-trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,m20,o20']
    status: {code: 204, message: No Content}
version: 1
