interactions:
- request:
    body: '{"data": {"attributes": {"name": "temp-label"}, "type": "label"}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.helium.com/v1/label
  response:
    body: {string: '{"data":{"attributes":{"name":"temp-label"},"relationships":{"metadata":{"data":{"id":"a9ac1c44-29a9-4922-a5e0-b48e6e1fed7f","type":"metadata"}},"sensor":{"data":[]}},"id":"a9ac1c44-29a9-4922-a5e0-b48e6e1fed7f","meta":{"created":"2016-11-04T23:55:17.997945Z","updated":"2016-11-04T23:55:17.997945Z"},"type":"label"}}'}
    headers:
      Airship-Quip: ['$300,000 worth of cows']
      Airship-Trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,n16,n11,p11']
      Content-Type: [application/json]
      Location: [/v1/label/a9ac1c44-29a9-4922-a5e0-b48e6e1fed7f]
    status: {code: 201, message: Created}
- request:
    body: '{"data": []}'
    headers:
      Content-Type: [application/json]
    method: PATCH
    uri: https://api.helium.com/v1/label/a9ac1c44-29a9-4922-a5e0-b48e6e1fed7f/relationships/sensor
  response:
    body: {string: '{"data":[]}'}
    headers:
      Airship-Quip: [firm pat on the back]
      Airship-Trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,n16,o16,o17,o20,o18']
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.helium.com/v1/label/a9ac1c44-29a9-4922-a5e0-b48e6e1fed7f/metadata
  response:
    body: {string: '{"data":{"attributes":{},"id":"a9ac1c44-29a9-4922-a5e0-b48e6e1fed7f","type":"metadata"}}'}
    headers:
      Airship-Quip: ['WARNING: ulimit -n is 1024']
      Airship-Trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18']
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.helium.com/v1/label/a9ac1c44-29a9-4922-a5e0-b48e6e1fed7f
  response:
    body: {string: ''}
    headers:
      Airship-Quip: [RB_GC_GUARD]
      Airship-Trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,m20,o20']
    status: {code: 204, message: No Content}
version: 1
