interactions:
- request:
    body: !!python/unicode '{"data": {"type": "sensor", "attributes": {"name": "test"}}}'
    headers:
      Content-Type: [!!python/unicode application/json]
    method: POST
    uri: https://api.helium.com/v1/sensor
  response:
    body: {string: !!python/unicode '{"data":{"attributes":{"name":"test"},"relationships":{"device-configuration":{"data":[]},"metadata":{"data":{"id":"c32db366-b4bf-4bda-9209-44cd34bde489","type":"metadata"}},"element":{"data":null},"label":{"data":[]}},"id":"c32db366-b4bf-4bda-9209-44cd34bde489","meta":{"card":null,"mac":null,"created":"2016-11-18T19:43:42.190634Z","last-seen":null,"ports":[],"updated":"2016-11-18T19:43:42.190634Z"},"type":"sensor"}}'}
    headers:
      airship-quip: [blame me if inappropriate]
      airship-trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,n16,n11,p11']
      content-type: [application/json]
      location: [/v1/sensor/c32db366-b4bf-4bda-9209-44cd34bde489]
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '{"data": {"type": "label", "relationships": {"sensor":
      {"data": [{"type": "sensor", "id": "c32db366-b4bf-4bda-9209-44cd34bde489"}]}},
      "attributes": {"name": "temp-label"}}}'
    headers:
      Content-Type: [!!python/unicode application/json]
    method: POST
    uri: https://api.helium.com/v1/label
  response:
    body: {string: !!python/unicode '{"data":{"attributes":{"name":"temp-label"},"relationships":{"metadata":{"data":{"id":"35479522-5414-4a26-8c20-11d66137b663","type":"metadata"}},"sensor":{"data":[]}},"id":"35479522-5414-4a26-8c20-11d66137b663","meta":{"created":"2016-11-18T19:43:42.24958Z","updated":"2016-11-18T19:43:42.24958Z"},"type":"label"}}'}
    headers:
      airship-quip: [sharkfed]
      airship-trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,n16,n11,p11']
      content-type: [application/json]
      location: [/v1/label/35479522-5414-4a26-8c20-11d66137b663]
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '{"data": [{"type": "sensor", "id": "c32db366-b4bf-4bda-9209-44cd34bde489"}]}'
    headers:
      Content-Type: [!!python/unicode application/json]
    method: PATCH
    uri: https://api.helium.com/v1/label/35479522-5414-4a26-8c20-11d66137b663/relationships/sensor
  response:
    body: {string: !!python/unicode '{"data":[{"id":"c32db366-b4bf-4bda-9209-44cd34bde489","type":"sensor"}]}'}
    headers:
      airship-quip: [evacuation not done in time]
      airship-trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,n16,o16,o17,o20,o18']
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode application/json]
    method: GET
    uri: https://api.helium.com/v1/label/35479522-5414-4a26-8c20-11d66137b663/sensor
  response:
    body: {string: !!python/unicode '{"data":[{"attributes":{"name":"test"},"id":"c32db366-b4bf-4bda-9209-44cd34bde489","meta":{"card":null,"mac":null,"created":"2016-11-18T19:43:42.190634Z","last-seen":null,"ports":[],"updated":"2016-11-18T19:43:42.190634Z"},"type":"sensor"}]}'}
    headers:
      airship-quip: [sharkfed]
      airship-trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18']
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode application/json]
    method: GET
    uri: https://api.helium.com/v1/sensor/01d53511-228d-4530-8eaf-74d43c17baa8/label
  response:
    body: {string: !!python/unicode '{"data":[{"attributes":{"name":"New Label"},"relationships":{"metadata":{"data":{"id":"0c228a65-ea5e-4b0d-a321-61009f3647b7","type":"metadata"}},"sensor":{"data":[{"id":"f928df8f-9cda-4313-9cf7-cffee5d57050","type":"sensor"},{"id":"c7b11d08-8534-46e4-a14d[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode application/json]
    method: DELETE
    uri: https://api.helium.com/v1/label/35479522-5414-4a26-8c20-11d66137b663
  response:
    body: {string: !!python/unicode ''}
    headers:
      airship-quip: [never breaks eye contact]
      airship-trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,m20,o20']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode application/json]
    method: DELETE
    uri: https://api.helium.com/v1/sensor/c32db366-b4bf-4bda-9209-44cd34bde489
  response:
    body: {string: !!python/unicode ''}
    headers:
      airship-quip: [firm pat on the back]
      airship-trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,m20,o20']
    status: {code: 204, message: No Content}
version: 1
