interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.helium.com/v1/element
  response:
    body: {string: '{"data":[{"attributes":{"name":"SF Office"},"relationships":{"device-configuration":{"data":[]},"metadata":{"data":{"id":"0bdde274-0f81-4a3b-8aea-78e4e60a7ec6","type":"metadata"}},"sensor":{"data":[]}},"id":"0bdde274-0f81-4a3b-8aea-78e4e60a7ec6","meta":{"mac":"6081f9fffe0002a9","created":"2016-04-27T18:19:06.520815Z","last-seen":null,"updated":"2016-11-02T21:09:50.749246Z"},"type":"element"},{"attributes":{"name":"SF
        Office"},"relationships":{"device-configuration":{"data":[]},"metadata":{"data":{"id":"4cf1f111-6bba-4bdf-af9d-3a1dffe8f644","type":"metadata"}},"sensor":{"data":[]}},"id":"4cf1f111-6bba-4bdf-af9d-3a1dffe8f644","meta":{"mac":"6081f9fffe000346","created":"2016-04-27T18:19:06.520815Z","last-seen":null,"updated":"2016-11-02T21:09:50.741963Z"},"type":"element"},{"attributes":{"name":"SF
        Office"},"relationships[...]
