interactions:
- request:
    body: !!python/unicode '{"data": {"attributes": {"available": true, "location":
      "office", "test": 42}, "type": "configuration"}}'
    headers:
      Content-Type: [!!python/unicode application/json]
    method: POST
    uri: https://api.helium.com/v1/configuration
  response:
    body: {string: !!python/unicode '{"data":{"attributes":{"location":"office","test":42,"available":true},"relationships":{"device-configuration":{"data":[]}},"id":"7ad5d401-144d-406b-8284-06e666c0e199","meta":{"created":"2016-12-07T22:29:26.61054Z"},"type":"configuration"}}'}
    headers:
      airship-quip: [blame me if inappropriate]
      airship-trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,n16,n11,p11']
      content-type: [application/json;charset=utf8]
      location: [/v1/configuration/7ad5d401-144d-406b-8284-06e666c0e199]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode application/json]
    method: GET
    uri: https://api.helium.com/v1/configuration/7ad5d401-144d-406b-8284-06e666c0e199/device-configuration
  response:
    body: {string: !!python/unicode '{"data":[]}'}
    headers:
      airship-quip: [RB_GC_GUARD]
      airship-trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18']
      content-type: [application/json;charset=utf8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode application/json]
    method: DELETE
    uri: https://api.helium.com/v1/configuration/7ad5d401-144d-406b-8284-06e666c0e199
  response:
    body: {string: !!python/unicode ''}
    headers:
      airship-quip: [firm pat on the back]
      airship-trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,m20,o20']
    status: {code: 204, message: No Content}
version: 1
