interactions:
- request:
    body: !!python/unicode '{"data": {"attributes": {"name": "test"}, "type": "sensor"}}'
    headers:
      Content-Type: [!!python/unicode application/json]
    method: POST
    uri: https://api.helium.com/v1/sensor
  response:
    body: {string: !!python/unicode '{"data":{"attributes":{"name":"test"},"relationships":{"device-configuration":{"data":[]},"metadata":{"data":{"id":"88eb19e3-e1d5-44a2-848e-4c8ef052d07e","type":"metadata"}},"element":{"data":null},"label":{"data":[]}},"id":"88eb19e3-e1d5-44a2-848e-4c8ef052d07e","meta":{"card":null,"mac":null,"created":"2017-02-25T19:59:19.485204Z","last-seen":null,"ports":[],"device-type":null,"updated":"2017-02-25T19:59:19.485204Z"},"type":"sensor"}}'}
    headers:
      airship-quip: ['$300,000 worth of cows']
      airship-trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,n16,n11,p11']
      content-type: [application/json;charset=utf8]
      location: [/v1/sensor/88eb19e3-e1d5-44a2-848e-4c8ef052d07e]
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode application/json]
    method: DELETE
    uri: https://api.helium.com/v1/sensor/88eb19e3-e1d5-44a2-848e-4c8ef052d07e
  response:
    body: {string: !!python/unicode ''}
    headers:
      airship-quip: [evacuation not done in time]
      airship-trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,m20,o20']
    status: {code: 204, message: No Content}
version: 1
