interactions:
- request:
    body: !!python/unicode '{"data": {"attributes": {"available": true, "location":
      "office", "test": 42}, "type": "configuration"}}'
    headers:
      Content-Type: [!!python/unicode application/json]
    method: POST
    uri: https://api.helium.com/v1/configuration
  response:
    body: {string: !!python/unicode '{"data":{"attributes":{"location":"office","test":42,"available":true},"relationships":{"device-configuration":{"data":[]}},"id":"ab17b05b-97d0-4b00-a19b-6d80cad46978","meta":{"created":"2016-12-07T22:29:27.662494Z"},"type":"configuration"}}'}
    headers:
      airship-quip: [blame me if inappropriate]
      airship-trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,n16,n11,p11']
      content-type: [application/json;charset=utf8]
      location: [/v1/configuration/ab17b05b-97d0-4b00-a19b-6d80cad46978]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode application/json]
    method: GET
    uri: https://api.helium.com/v1/element
  response:
    body: {string: !!python/unicode '{"data":[{"attributes":{"name":"SF Office"},"relationships":{"device-configuration":{"data":[]},"metadata":{"data":{"id":"0bdde274-0f81-4a3b-8aea-78e4e60a7ec6","type":"metadata"}},"sensor":{"data":[]}},"id":"0bdde274-0f81-4a3b-8aea-78e4e60a7ec6","meta":{"connected":false,"mac":"6081f9fffe0002a9","created":"2016-04-27T18:19:06.520815Z","last-seen":null,"updated":"2016-11-18T01:05:34.69071Z"},"type":"element"},{"attributes":{"name":"Compound
        Element"},"relationships":{"device-configuration":{"data":[]},"metadata":{"data":{"id":"2d92e084-0049-4de0-8bc9-b9ddad47ef24","type":"metadata"}},"sensor":{"data":[]}},"id":"2d92e084-0049-4de0-8bc9-b9ddad47ef24","meta":{"connected":true,"mac":"6081f9fffe000b54","created":"2016-12-02T01:35:01.041802Z","last-seen":"2016-12-07T18:40:48.766828Z","updated":"2016-12-02T01:35:01.041802Z"},"type":"element"},{"attribu[...]
- request:
    body: !!python/unicode '{"data": {"relationships": {"configuration": {"data":
      {"id": "ab17b05b-97d0-4b00-a19b-6d80cad46978", "type": "configuration"}}, "device":
      {"data": {"id": "0bdde274-0f81-4a3b-8aea-78e4e60a7ec6", "type": "element"}}},
      "type": "device-configuration"}}'
    headers:
      Content-Type: [!!python/unicode application/json]
    method: POST
    uri: https://api.helium.com/v1/device-configuration
  response:
    body: {string: !!python/unicode '{"data":{"attributes":{},"relationships":{"device":{"data":{"id":"0bdde274-0f81-4a3b-8aea-78e4e60a7ec6","type":"element"}},"configuration":{"data":{"id":"ab17b05b-97d0-4b00-a19b-6d80cad46978","type":"configuration"}}},"id":"73854470-4a23-4fdc-97c9-c90ca48e3cf5","meta":{"loaded":null,"created":"2016-12-07T22:29:27.792226Z"},"type":"device-configuration"}}'}
    headers:
      airship-quip: ['WARNING: ulimit -n is 1024']
      airship-trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,n16,n11,p11']
      content-type: [application/json;charset=utf8]
      location: [/v1/device-configuration/73854470-4a23-4fdc-97c9-c90ca48e3cf5]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode application/json]
    method: GET
    uri: https://api.helium.com/v1/device-configuration/73854470-4a23-4fdc-97c9-c90ca48e3cf5/configuration
  response:
    body: {string: !!python/unicode '{"data":{"attributes":{"location":"office","test":42,"available":true},"relationships":{"device-configuration":{"data":[{"id":"73854470-4a23-4fdc-97c9-c90ca48e3cf5","type":"device-configuration"}]}},"id":"ab17b05b-97d0-4b00-a19b-6d80cad46978","meta":{"created":"2016-12-07T22:29:27.662494Z"},"type":"configuration"}}'}
    headers:
      airship-quip: ['$300,000 worth of cows']
      airship-trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18']
      content-type: [application/json;charset=utf8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode application/json]
    method: GET
    uri: https://api.helium.com/v1/device-configuration/73854470-4a23-4fdc-97c9-c90ca48e3cf5/device
  response:
    body: {string: !!python/unicode '{"data":{"attributes":{"name":"SF Office"},"id":"0bdde274-0f81-4a3b-8aea-78e4e60a7ec6","meta":{"connected":false,"mac":"6081f9fffe0002a9","created":"2016-04-27T18:19:06.520815Z","last-seen":null,"updated":"2016-11-18T01:05:34.69071Z"},"type":"element"}}'}
    headers:
      airship-quip: ['WARNING: ulimit -n is 1024']
      airship-trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18']
      content-type: [application/json;charset=utf8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode application/json]
    method: GET
    uri: https://api.helium.com/v1/element/0bdde274-0f81-4a3b-8aea-78e4e60a7ec6/device-configuration
  response:
    body: {string: !!python/unicode '{"data":[{"attributes":{},"relationships":{"device":{"data":{"id":"0bdde274-0f81-4a3b-8aea-78e4e60a7ec6","type":"element"}},"configuration":{"data":{"id":"ab17b05b-97d0-4b00-a19b-6d80cad46978","type":"configuration"}}},"id":"73854470-4a23-4fdc-97c9-c90ca48e3cf5","meta":{"loaded":null,"created":"2016-12-07T22:29:27.792226Z"},"type":"device-configuration"}]}'}
    headers:
      airship-quip: ['WARNING: ulimit -n is 1024']
      airship-trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18']
      content-type: [application/json;charset=utf8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode application/json]
    method: DELETE
    uri: https://api.helium.com/v1/device-configuration/73854470-4a23-4fdc-97c9-c90ca48e3cf5
  response:
    body: {string: !!python/unicode ''}
    headers:
      airship-quip: [shut it down]
      airship-trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,m20,o20']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode application/json]
    method: DELETE
    uri: https://api.helium.com/v1/configuration/ab17b05b-97d0-4b00-a19b-6d80cad46978
  response:
    body: {string: !!python/unicode ''}
    headers:
      airship-quip: [blame me if inappropriate]
      airship-trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,m20,o20']
    status: {code: 204, message: No Content}
version: 1
