interactions:
- request:
    body: '{"data": {"attributes": {"name": "test"}, "type": "sensor"}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.helium.com/v1/sensor
  response:
    body: {string: '{"data":{"attributes":{"name":"test"},"relationships":{"device-configuration":{"data":[]},"metadata":{"data":{"id":"efb6c8c5-db6c-4a0e-8a14-d6998dd6e916","type":"metadata"}},"element":{"data":null},"label":{"data":[]}},"id":"efb6c8c5-db6c-4a0e-8a14-d6998dd6e916","meta":{"card":null,"mac":null,"created":"2016-11-04T23:53:02.095695Z","last-seen":null,"ports":[],"updated":"2016-11-04T23:53:02.095695Z"},"type":"sensor"}}'}
    headers:
      Airship-Quip: [firm pat on the back]
      Airship-Trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,n16,n11,p11']
      Content-Type: [application/json]
      Location: [/v1/sensor/efb6c8c5-db6c-4a0e-8a14-d6998dd6e916]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.helium.com/v1/sensor/efb6c8c5-db6c-4a0e-8a14-d6998dd6e916
  response:
    body: {string: ''}
    headers:
      Airship-Quip: ['$300,000 worth of cows']
      Airship-Trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,m20,o20']
    status: {code: 204, message: No Content}
version: 1
