interactions:
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode application/json]
    method: GET
    uri: https://api.helium.com/v1/sensor
  response:
    body: {string: !!python/unicode '{"data":[{"attributes":{"name":"weather-94945"},"relationships":{"device-configuration":{"data":[]},"metadata":{"data":{"id":"11b5a9e9-e098-4d57-9c10-ddb08f81ecfa","type":"metadata"}},"element":{"data":null},"label":{"data":[{"id":"91293050-f5cb-45ef-9eac-c26c9dbdd515","type":"label"},{"id":"ec2b4ffb-ce77-455e-a3b3-cc2d99c2f843","type":"label"},{"id":"f9a3632d-df6a-4096-9699-c20c517434c4","type":"label"},{"id":"e0192913-b1e5-49ae-b2da-8049eed90d9d","type":"label"}]}},"id":"11b5a9e9-e098-4d57-9c10-ddb08f81ecfa","meta":{"card":null,"mac":null,"created":"2016-12-14T22:13:48.883309Z","last-seen":"2017-02-24T16:37:18.024733Z","ports":["t","h","p"],"device-type":null,"updated":"2016-12-14T22:13:48.883309Z"},"type":"sensor"},{"attributes":{"name":"Amir''s
        Dev Board"},"relationships":{"device-configuration":{"data":[]},"metadata":{"data":{"id":"28ea925a-c7d1-43c1-993c-50b9a4c86d0a","type":"metadata"}},"element":{"data":null},"label":{"data":[]}},"id":"28ea925a-c7d1-43c1-993c-50b9a4c86d0a","meta":{"card":{"id":0},"mac":"6081f9fffe000b67","created":"2016-07-26T21:24:21.529879Z","last-seen":"2017-02-24T15:42:00.507856Z","ports":["_se","_b","t","h","p","v","c"],"dev[...]
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode application/json]
    method: GET
    uri: https://api.helium.com/v1/element
  response:
    body: {string: !!python/unicode '{"data":[{"attributes":{"name":"Eric Compound"},"relationships":{"device-configuration":{"data":[{"id":"03e00386-1099-44c2-977a-7220f71638e5","type":"device-configuration"}]},"metadata":{"data":{"id":"69f353f0-7c3d-4e7f-ad81-201f8ff8d810","type":"metadata"}},"sensor":{"data":[]},"label":{"data":[{"id":"f45d81d7-da6f-41c3-aa1e-9b05a4634628","type":"label"},{"id":"efdd124b-b45c-41c2-8f18-240866e03ef2","type":"label"},{"id":"ae0da464-83d7-4a79-9baf-789a4ad4832a","type":"label"},{"id":"a0155f49-9df5-4a63-a967-47df8902d413","type":"label"},{"id":"84371177-a06f-4ae7-91ae-77929e8fb213","type":"label"},{"id":"7cd3cfc0-053a-4923-9aaf-d220f818af5a","type":"label"},{"id":"76e9f77e-3202-48e6-bd4b-1202b6973aa7","type":"label"},{"id":"4dfa334e-93e3-4ea2-a003-a4ef89f0d14d","type":"label"},{"id":"488fd9b8-cc2c-41c7-9b70-c8d895dad73d","type":"label"},{"id":"3c9e0e1e-3286-4683-98dd-4e85cc08d881","type":"label"},{"id":"1d4051ef-93d9-4a86-96ee-5ea254127273","type":"label"}]}},"id":"69f353f0-7c3d-4e7f-ad81-201f8ff8d810","meta":{"connected":true,"mac":"6081f9fffe000e59","created":"2016-12-23T21:55:12.967624Z","sim":null,"last-seen":"2016-12-26T02:43:09.409224Z","device-type":null,"updated":"2017-02-16T17:14:15.471274Z"},"type":"element"},{"attributes":{"name":"Andrew
        Home"},"relationships":{"device-configuration":{"data":[]},"metadata":{"data":{"id":"76c35027-9f4f-4eeb-8f6a-548c7caddb53","type":"metadata"}},"sensor":{"data":[]},"label":{"data":[{"id":"84371177-a06f-4ae7-91ae-77929e8fb213","type":"label"}]}},"id":"76c35027-9f4f-4eeb-8f6a-548c7caddb53","meta":{"connected":false,"mac":"6081f9fffe000b7[...]
- request:
    body: !!python/unicode '{"data": {"relationships": {"element": {"data": [{"type":
      "element", "id": "69f353f0-7c3d-4e7f-ad81-201f8ff8d810"}]}, "sensor": {"data":
      [{"type": "sensor", "id": "11b5a9e9-e098-4d57-9c10-ddb08f81ecfa"}]}}, "type":
      "label", "attributes": {"name": "test_label"}}}'
    headers:
      Content-Type: [!!python/unicode application/json]
    method: POST
    uri: https://api.helium.com/v1/label
  response:
    body: {string: !!python/unicode '{"data":{"attributes":{"name":"test_label"},"relationships":{"metadata":{"data":{"id":"5587edb5-1b2a-4a58-a9a5-46e750d3c731","type":"metadata"}},"sensor":{"data":[{"id":"11b5a9e9-e098-4d57-9c10-ddb08f81ecfa","type":"sensor"}]},"element":{"data":[{"id":"69f353f0-7c3d-4e7f-ad81-201f8ff8d810","type":"element"}]}},"id":"5587edb5-1b2a-4a58-a9a5-46e750d3c731","meta":{"created":"2017-02-24T16:41:49.473172Z","updated":"2017-02-24T16:41:49.473172Z"},"type":"label"}}'}
    headers:
      airship-quip: ['WARNING: ulimit -n is 1024']
      airship-trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,n16,n11,p11']
      content-type: [application/json;charset=utf8]
      location: [/v1/label/5587edb5-1b2a-4a58-a9a5-46e750d3c731]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode application/json]
    method: GET
    uri: https://api.helium.com/v1/label/5587edb5-1b2a-4a58-a9a5-46e750d3c731/element
  response:
    body: {string: !!python/unicode '{"data":[{"attributes":{"name":"Eric Compound"},"relationships":{"device-configuration":{"data":[{"id":"03e00386-1099-44c2-977a-7220f71638e5","type":"device-configuration"}]},"metadata":{"data":{"id":"69f353f0-7c3d-4e7f-ad81-201f8ff8d810","type":"metadat[...]
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode application/json]
    method: GET
    uri: https://api.helium.com/v1/label/5587edb5-1b2a-4a58-a9a5-46e750d3c731/sensor
  response:
    body: {string: !!python/unicode '{"data":[{"attributes":{"name":"weather-94945"},"id":"11b5a9e9-e098-4d57-9c10-ddb08f81ecfa","meta":{"card":null,"mac":null,"created":"2016-12-14T22:13:48.883309Z","last-seen":"2017-02-24T16:37:18.024733Z","ports":["t","h","p"],"device-type":null,"updated":"2016-12-14T22:13:48.883309Z"},"type":"sensor"}]}'}
    headers:
      airship-quip: [sharkfed]
      airship-trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18']
      content-type: [application/json;charset=utf8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [!!python/unicode application/json]
    method: DELETE
    uri: https://api.helium.com/v1/label/5587edb5-1b2a-4a58-a9a5-46e750d3c731
  response:
    body: {string: !!python/unicode ''}
    headers:
      airship-quip: ['$300,000 worth of cows']
      airship-trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,m20,o20']
    status: {code: 204, message: No Content}
version: 1
