interactions:
- request:
    body: '{"data": {"attributes": {"name": "test"}, "type": "sensor"}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.helium.com/v1/sensor
  response:
    body: {string: '{"data":{"attributes":{"name":"test"},"relationships":{"device-configuration":{"data":[]},"metadata":{"data":{"id":"bff15a8d-6c10-459d-828a-0c0bb36c2b4c","type":"metadata"}},"element":{"data":null},"label":{"data":[]}},"id":"bff15a8d-6c10-459d-828a-0c0bb36c2b4c","meta":{"card":null,"mac":null,"created":"2016-11-05T00:36:39.301107Z","last-seen":null,"ports":[],"updated":"2016-11-05T00:36:39.301107Z"},"type":"sensor"}}'}
    headers:
      Airship-Quip: [sharkfed]
      Airship-Trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,n16,n11,p11']
      Content-Type: [application/json]
      Location: [/v1/sensor/bff15a8d-6c10-459d-828a-0c0bb36c2b4c]
    status: {code: 201, message: Created}
- request:
    body: '{"data": {"attributes": {"timestamp": "2016-09-01T00:00:00Z", "value":
      22, "port": "test"}, "type": "data-point"}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.helium.com/v1/sensor/bff15a8d-6c10-459d-828a-0c0bb36c2b4c/timeseries
  response:
    body: {string: '{"data":{"attributes":{"value":22,"timestamp":"2016-09-01T00:00:00Z","port":"test"},"relationships":{"sensor":{"data":{"id":"bff15a8d-6c10-459d-828a-0c0bb36c2b4c","type":"sensor"}}},"id":"8d53374e-a4d2-4f5c-8c55-583917cab99a","meta":{"created":"2016-11-05T00:36:39.378847Z"},"type":"data-point"}}'}
    headers:
      Airship-Quip: [blame me if inappropriate]
      Airship-Trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,n16,n11,p11']
      Content-Type: [application/json]
      Location: ['/v1/sensor/bff15a8d-6c10-459d-828a-0c0bb36c2b4c/timeseries?page%5Bsize%5D=1&page%5Bid%5D=8d53374e-a4d2-4f5c-8c55-583917cab99a']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.helium.com/v1/sensor/bff15a8d-6c10-459d-828a-0c0bb36c2b4c/timeseries?filter%5Bstart%5D=2016-09-01&filter%5Bend%5D=2016-09-02
  response:
    body: {string: '{"data":[{"attributes":{"value":22,"timestamp":"2016-09-01T00:00:00Z","port":"test"},"relationships":{"sensor":{"data":{"id":"bff15a8d-6c10-459d-828a-0c0bb36c2b4c","type":"sensor"}}},"id":"8d53374e-a4d2-4f5c-8c55-583917cab99a","meta":{"created":"2016-11-05T00:36:39.378847Z"},"type":"data-point"}],"links":{}}'}
    headers:
      Airship-Quip: [sharkfed]
      Airship-Trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18']
      Content-Type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.helium.com/v1/sensor/bff15a8d-6c10-459d-828a-0c0bb36c2b4c
  response:
    body: {string: ''}
    headers:
      Airship-Quip: ['WARNING: ulimit -n is 1024']
      Airship-Trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,m20,o20']
    status: {code: 204, message: No Content}
version: 1
