interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.helium.com/v1/label
  response:
    body: {string: '{"data":[{"attributes":{"name":"Andrew''s stuff"},"relationships":{"metadata":{"data":{"id":"415e6377-2bc1-46c6-a76c-782e5e7c652d","type":"metadata"}},"sensor":{"data":[{"id":"f928df8f-9cda-4313-9cf7-cffee5d57050","type":"sensor"},{"id":"492759da-afb0-4d66-a83c-bb001d20c280","type":"sensor"}]}},"id":"415e6377-2bc1-46c6-a76c-782e5e7c652d","meta":{"created":"2016-04-11T15:40:33.011466Z","updated":"2016-06-28T13:49:14.065837Z"},"type":"label"},{"attributes":{"name":"Bricks"},"relationships":{"metadata":{"data":{"id":"968cc881-737e-4bff-bdd6-2af45992fe86","type":"metadata"}},"sensor":{"data":[{"id":"f928df8f-9cda-4313-9cf7-cffee5d57050","type":"sensor"},{"id":"c7b11d08-8534-46e4-a14d-0a9306c899b7","type":"sensor"},{"id":"aba370be-837d-4b41-bee5-686b0069d874","type":"sensor"},{"id":"01d53511-228d-4530-8eaf-74d43c17baa8","type":"sensor"}]}},"id":"968cc881-737e-4bff-bdd6-2af45992fe86","meta":[...]
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.helium.com/v1/label/415e6377-2bc1-46c6-a76c-782e5e7c652d
  response:
    body: {string: '{"data":{"attributes":{"name":"Andrew''s stuff"},"relationships":{"metadata":{"data":{"id":"415e6377-2bc1-46c6-a76c-782e5e7c652d","type":"metadata"}},"sensor":{"data":[{"id":"492759da-afb0-4d66-a83c-bb001d20c280","type":"sensor"},{"id":"f928df8f-9cda-4313-9cf7-cffee5d57050","type":"sensor"}]}},"id":"415e6377-2bc1-46c6-a76c-782e5e7c652d","meta":{"created":"2016-04-11T15:40:33.011466Z","updated":"2016-06-28T13:49:14.065837Z"},"type":"label"}}'}
    headers:
      Airship-Quip: [sharkfed]
      Airship-Trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18']
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
