interactions:
- request:
    body: '{"data": {"attributes": {"name": "temp-label"}, "type": "label"}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.helium.com/v1/label
  response:
    body: {string: '{"data":{"attributes":{"name":"temp-label"},"relationships":{"metadata":{"data":{"id":"16d6af6e-24b0-4b88-9c11-523f1d7c8ecc","type":"metadata"}},"sensor":{"data":[]}},"id":"16d6af6e-24b0-4b88-9c11-523f1d7c8ecc","meta":{"created":"2016-11-04T23:55:15.746744Z","updated":"2016-11-04T23:55:15.746744Z"},"type":"label"}}'}
    headers:
      Airship-Quip: [shut it down]
      Airship-Trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,n16,n11,p11']
      Content-Type: [application/json]
      Location: [/v1/label/16d6af6e-24b0-4b88-9c11-523f1d7c8ecc]
    status: {code: 201, message: Created}
- request:
    body: '{"data": []}'
    headers:
      Content-Type: [application/json]
    method: PATCH
    uri: https://api.helium.com/v1/label/16d6af6e-24b0-4b88-9c11-523f1d7c8ecc/relationships/sensor
  response:
    body: {string: '{"data":[]}'}
    headers:
      Airship-Quip: ['WARNING: ulimit -n is 1024']
      Airship-Trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,n16,o16,o17,o20,o18']
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.helium.com/v1/sensor
  response:
    body: {string: "{\"data\":[{\"attributes\":{\"name\":\"John's Development Isotope
        with a Brick1\"},\"relationships\":{\"device-configuration\":{\"data\":[]},\"metadata\":{\"data\":{\"id\":\"01d53511-228d-4530-8eaf-74d43c17baa8\",\"type\":\"metadata\"}},\"element\":{\"data\":null},\"label\":{\"data\":[{\"id\":\"968cc881-737e-4bff-bdd6-2af45992fe86\",\"type\":\"label\"}]}},\"id\":\"01d53511-228d-4530-8eaf-74d43c17baa8\",\"meta\":{\"card\":{\"id\":2},\"mac\":\"6081f9fffe000790\",\"created\":\"2016-03-29T23:41:29.994176Z\",\"last-seen\":\"2016-11-02T17:45:26.903011Z\",\"ports\":[\"b\",\"m\",\"d\",\"p\",\"l\",\"_se\",\"t\",\"_b\",\"h\",\"test\"],\"updated\":\"2016-11-04T17:27:44.688492Z\"},\"type\":\"sensor\"},{\"attributes\":{\"name\":\"Marc's
        isotope \xEAf\"},\"relationships\":{\"device-configuration\":{\"data\":[]},\"metadata\":{\"data\":{\"id\":\"08bab58b-d095-4c7c-912c-1f8024d91d95\",\"type\":\"metadata\"}},\"element\":{\"data\":null},\"label\":{\"data\":[{\"id\":\"bfd8e8ff-e4b7-4561-ac7e-81178b9868d5\",\"type\":\"label\"},{\"id\":\"d85ae875-1d02-4ed1-84f3-[...]
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.helium.com/v1/label/16d6af6e-24b0-4b88-9c11-523f1d7c8ecc/sensor
  response:
    body: {string: '{"data":[]}'}
    headers:
      Airship-Quip: ['WARNING: ulimit -n is 1024']
      Airship-Trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18']
      Content-Type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.helium.com/v1/sensor/01d53511-228d-4530-8eaf-74d43c17baa8/label
  response:
    body: {string: '{"data":[{"attributes":{"name":"temp-label"},"relationships":{"metadata":{"data":{"id":"16d6af6e-24b0-4b88-9c11-523f1d7c8ecc","type":"metadata"}},"sensor":{"data":[{"id":"f928df8f-9cda-4313-9cf7-cffee5d57050","type":"sensor"},{"id":"d8aa41c3-ead6-4429-ae1a-c26fd0c8c574","type":"sensor"},{[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.helium.com/v1/label/16d6af6e-24b0-4b88-9c11-523f1d7c8ecc
  response:
    body: {string: ''}
    headers:
      Airship-Quip: [javascript doesn't have integers]
      Airship-Trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,m20,o20']
    status: {code: 204, message: No Content}
version: 1
