interactions:
- request:
    body: '{"data": {"attributes": {"name": "temp-label"}, "type": "label"}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.helium.com/v1/label
  response:
    body: {string: '{"data":{"attributes":{"name":"temp-label"},"relationships":{"metadata":{"data":{"id":"e1687625-fe82-4eb7-acd1-d805334b77df","type":"metadata"}},"sensor":{"data":[]}},"id":"e1687625-fe82-4eb7-acd1-d805334b77df","meta":{"created":"2016-11-04T23:55:17.668092Z","updated":"2016-11-04T23:55:17.668092Z"},"type":"label"}}'}
    headers:
      Airship-Quip: [sharkfed]
      Airship-Trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,n16,n11,p11']
      Content-Type: [application/json]
      Location: [/v1/label/e1687625-fe82-4eb7-acd1-d805334b77df]
    status: {code: 201, message: Created}
- request:
    body: '{"data": []}'
    headers:
      Content-Type: [application/json]
    method: PATCH
    uri: https://api.helium.com/v1/label/e1687625-fe82-4eb7-acd1-d805334b77df/relationships/sensor
  response:
    body: {string: '{"data":[]}'}
    headers:
      Airship-Quip: [javascript doesn't have integers]
      Airship-Trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,n16,o16,o17,o20,o18']
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: '{"data": {"attributes": {"name": "bar"}, "type": "label", "id": "e1687625-fe82-4eb7-acd1-d805334b77df"}}'
    headers:
      Content-Type: [application/json]
    method: PATCH
    uri: https://api.helium.com/v1/label/e1687625-fe82-4eb7-acd1-d805334b77df
  response:
    body: {string: '{"data":{"attributes":{"name":"bar"},"id":"e1687625-fe82-4eb7-acd1-d805334b77df","meta":{"created":"2016-11-04T23:55:17.668092Z","updated":"2016-11-04T23:55:17.668092Z"},"type":"label"}}'}
    headers:
      Airship-Quip: [sharkfed]
      Airship-Trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,n16,o16,o17,o20,o18']
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.helium.com/v1/label/e1687625-fe82-4eb7-acd1-d805334b77df
  response:
    body: {string: ''}
    headers:
      Airship-Quip: [never breaks eye contact]
      Airship-Trace: ['b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,e06,f06,f07,g07,g08,h10,i12,l13,m16,m20,o20']
    status: {code: 204, message: No Content}
version: 1
